.branding{
  .imgBrand{
    margin-top: 149px;
    display: flex;
    justify-content: center;
  }
  .text{
    color: white;
    max-width: 286px;
  }
  .imgTap{
    text-align: center;
    margin-top: 40px;
  }

}