nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 0;
  ul{
    display: flex;
    margin: 0;
    gap: 44px;
    li{
      list-style: none;
      a{
        text-decoration: none;
        color: white;
        margin: 0;
        padding: 0;
      }
    }

  }
}